<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/myresume.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script src="script.js"></script> 



    <title>Document</title>
</head>
<body>
    <div class="bg-black hscreen ">
    <div class="  font-poppins">

        <div class="bg-white container hscreen">
        <div class="row   templatecss ">
            <div class=" col-6">
                <img src="https://imgs.search.brave.com/qSsYOmcAFTOMv_Ee0tWdno16hKOkuIFSus10rQ8HzpI/rs:fit:860:857:1/g:ce/aHR0cHM6Ly93d3cu/cG5naXRlbS5jb20v/cGltZ3MvbS8yMi0y/MjQwMDBfcHJvZmls/ZS1waWMtZHVtbXkt/cG5nLXRyYW5zcGFy/ZW50LXBuZy5wbmc" class="profimg  "/>

            </div>
            <% for (let i  of user_res) {%>  
            <div class="col-6">
                <!-- <p class="pt-2rem text-centers fs-2 fw-bold"></p> -->

               
          <p class="pt-2rem text-centers fs-2 fw-bold">  <%= i.name %></p>
               
     
            </div> <%} %>
            <% for (let  i of user_res){%>  
            <div class="container">
                <p class="fw-bold pt-2">About me</p>
                <p class="text-justify"><%= i.about %></p>
                
             </div>
             <%}%> 
             <p class="fw-bold pt-2">Education</p>
            <p class="font-gray  fw-bold">May 2017-June 2021 <span class="text-black">   College Name</span></p> 
            <p class="pb-3 fw-bold text-gray btech branchcss">Btech in Computer_science</p>

            <p class="font-gray  fw-bold">May 2017-June 2021 <span class="text-black">   College Name</span></p> 
            <p class="pb-3 fw-bold text-gray btech branchcss">Btech in Computer_science</p>


            <p class="font-gray  fw-bold">May 2017-June 2021 <span class="text-black">   College Name</span></p> 
            <p class="pb-3 fw-bold text-gray btech branchcss">Btech in Computer_science</p>

           <!-- 3rd  -->

           <div class="container">
            <p class="fw-bold pt-2">Internships</p>
            <p class="font-gray  fw-bold">May 2017-June 2021 <span class="text-black">   College Name</span></p> 
            
            
            <p class="text-justify">Bnaknkls Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam dicta nam dolores facilis? Possimus aliquam dignissimos alias id vel? Voluptatum repudiandae neque labore quasi odit quae ea cumque officia? cajdsjasd ask dkasd asdja ,msd ma sdasjkd asdm amldsf  asmd asml dm al aslkndnjoasd assj dlam sdlasd ma sdlma sdlma smlalsd amls dmlasdma slm dals d</p>
         </div> 
         

         <!-- projects -->
         <div class="container">
         <p class="fw-bold pt-2">Projects</p>
         <li>MERN STACK APP</li>
         <li>C++ MANAGEMNET SYSTEM</li>
         <li>HEALTCARE SYSTEM</li>
        </div> 

        <!-- achievement -->
        <div class="container">
            <p class="fw-bold pt-2">Achievments</p>
            <li>Hackathon winner 2021</li>
            <li>Endeavour Host</li>
            <li>hult prize</li>
           </div> 
        </div>
        </div>
    </div>
    <div id="print-btn"></div>
<button id="submit">Download PDF File</button>

</div>


 

</body>
</html>